{{!-- friends list on the right with name and code and a check in one card
a wish list showing the items
--}}
<div class="row main-row">
    <div class="col-12">
        <div class="main-card">
            <div class="d-flex p-2 px-5 justify-content-center">
                <h2>{{user.username}}'s Dashboard</h2>
            </div>
            <div class="mx-5 text-center">
                <h3>Welcome to the TechBlogger!</h3>
            </div>
        </div>
    </div>
</div>