<div class="row">
  <div class="col-12">
    <div class="main-card">
      <div class="d-flex p-2 px-5 justify-content-center">
        <h2>Welcome to TechBlogger!</h2>
      </div>
      <div class="mx-5 text-center">
        <h3>A Blogging Concept</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 d-flex">
    <div class="main-card flex-grow-1">
      <div class="row">
        <div class="col-12 position-relative">
          <h4 class="text-center my-2">First post!</h4>
        </div>
      </div>
      <div class="row">
      
        <div class="col-6">
          <h5>Post!</h5>
          <p>Today I have to go grocery shopping, The world is an amazing place, I love food!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex">
    <div class="main-card flex-grow-1">
      <div class="row">
        <div class="col-12 position-relative">
          <h4 class="text-center my-2">Big Things Coming</h4>
        </div>
      </div>
      <div class="row">
     
        <div class="col-6">
          <h5>Business Idea</h5>
          <p>Lets make Microwaves that really cook food like the ones in spykids! Im telling you, get in on this before the ipo drops!!</p>
          
      </div>
    </div>
  </div>
</div>